pip install pycountry
pip install python-money
pip install suds
pip install pypdf2

# from http://stackoverflow.com/questions/4632261/pil-jpeg-library-help
# Do this BEFORE installing Pillow:
# apt-get install libjpeg8-dev
# ln -s /usr/lib/x86_64-linux-gnu/libjpeg.so /usr/lib

pip install Pillow
